<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="5">
    <title>Temperature Monitor</title>
</head>
<body>
    <h1>Latest Temperature</h1>
    <div id="temperature">Loading...</div>
    <script>
        fetch('/data')
            .then(response => response.json())
            .then(data => {
                document.getElementById('temperature').innerText = `Date: ${data.date}, Temp: ${data.temp}°C`;
            });
    </script>
</body>
</html>